@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 35px;
    height: 3px;
    background-color: white;
    display: block;
    transition: all 0.3s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 7px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(-45deg) translate(-9px,9px);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(45deg) translate(-4px,-5px);
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: white;
}

.navbar-expand-lg.navbar-nav.nav-link {
    padding: 0;
    margin-left: 1.5rem;
}

.navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.navbar{
    color: black !important;
}

.bg-dark {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

/* Home Section Starts*/
.container-fluid.back-img {
    background-image: url(images/home.jpg);
    background-size: cover;
    background-position: left !important;
    background-attachment: fixed;
    height: 100vh;
}

.container.hero-text{
    text-align: left;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.container.hero-text h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}

.container.hero-text p{
    font-size: 25px;
}

.btn{
    border: 1px solid white;
    background-color: #111;
    box-shadow: none !important;
    color: white;
}

.btn:hover{
    background-color: black;
    color: white;
}
/* Home Section Ends*/

/* Custom Responsive Starts*/
@media only screen and (max-width: 991px){
    .container-fluid.back-img{
        height: 100vh;
        background-position: right;
        top: 50%;
        left: 50%;
    }

    .container.hero-text{
        margin-top: 45%;
    }

    .nav-link.contxt{
        padding-right: 0 !important;
    }
}

@media screen and (max-width: 575px){
    .container-fluid.back-img{
        background-position: right !important;
    }

    .navbar.navbar-expand-lg{
        padding-left: 12px;
        padding-right: 12px;
    }

    .container.hero-text{
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    .txt{
        margin-top: 30px;
    }

    .navbar-toggler.collapsed{
        margin-right: 12px;
    }

    img.self{
        padding-right: 24px;
    }

    p.txt{
        padding-left: 12px;
        font-weight: 300 !important;
    }

    .card-text{
        font-size: 14px !important;
    }

    .personal-info{
        text-align: center;
        padding-bottom: 30px;
    }

    .info p{
        font-weight: 300 !important;
    }

    .footer-text{
        font-size: 12px !important;
    }
}
/* Custom Responsive Ends*/

/* About Starts*/
.container-fluid.about-me{
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-center{
    margin: 0;
    padding-bottom: 40px;
}

.container.my-pic{
    padding: 0;
}

.my-para{
    text-align: justify;
}

.container-fluid.ser-img{
    background-image: url(images/serback.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 2%;
}

.bi-star-fill::before {
    content: "\f586";
    padding-bottom: 15px;
}

.bi-check-circle-fill::before {
    content: "\f26a";
    padding-bottom: 15px;
}

.bi-cup-fill::before {
    content: "\f2de";
    padding-bottom: 15px;
}

.bi-emoji-smile-fill::before {
    content: "\f324";
    padding-bottom: 15px;
}
/* About Ends*/

/* Preview Starts */
.gallery .image img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 7%;
    vertical-align: middle;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery .image img:hover{
    filter: grayscale(0%);  
}

.preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: black;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}

.preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
}

.preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.details .title p{
    margin: 0 5px;
}

.details .title p.current-img{
    font-weight: 500;
}

.details .icon{
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.preview-box .image-box{
    display: flex;
    width: 100%;
    position: relative;
}

.image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.slide.prev{
    left: 0px;
}

.slide.next{
    right: 0px;
}

.image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
}

.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
}
/* Preview Ends */

.contact-form button{
    border: 1px solid white;
    background-color: #111;
    box-shadow: none !important;
    color: white;
}

.contact-form button:hover{
    background-color: black;
    color: white;
}

.contact-form input{
    outline: none !important;
    box-shadow: none !important;
}

.contact-form textarea{
    outline: none !important;
    box-shadow: none !important;
}